# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Jupyter Notebook
.ipynb_checkpoints

# Virtual Environment
venv/
env/
ENV/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Large files (ignore model)
*.h5
*.hdf5

# Data files (avoid uploading dataset)
data/
dataset/
*.zip
*.tar
*.gz

# IDE files
.vscode/
.idea/

# Temporary files
*.tmp
*.bak
